header.dashboard-header {
  background-color: #E9EFF5 !important;
  border-bottom-color: #E9EFF5 !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://live-resources-e2e-sales.ksb.com/resource/crblob/1898878/88b413f9ba33bb12c5a93a155b0cd59c/ksb-logo-data.svg") !important;
}
