header.dashboard-header {
  background-color: #E9EFF5 !important;
  border-bottom-color: #E9EFF5 !important;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #000 !important;
}

header.dashboard-header nav #header {
  background-size: 50px 40px !important;
  background-image: url("https://img1.wsimg.com/isteam/ip/9967c214-65eb-4b63-8e9f-818256ea5df2/yvs_logo2.png/:/rs=h:175,m") !important;
}
